@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1, h2, span {
  color: white;
}

h1 {
  /* text-6xl font-bold */
  font-size: 3.75rem; /* 36px */
  line-height: 1;
  font-weight: 700;
}

h2 {
  /* text-4xl font-bold */
  font-size: 2.25rem; /* 36px */
  line-height: 2.75rem;
  font-weight: 700;
}

@layer utilities {
  .text-stroke {
    /* TO DO: Verificar compartibilidade com navegadores */
    -webkit-text-stroke: 1px #5E8FD8;

    /* Opção com sombreamento */
    
    /* text-shadow: -1px -1px 0 #5E8FD8, 1px -1px 0 #5E8FD8, -1px 1px 0 #5E8FD8, 1px 1px 0 #5E8FD8;
    color: #02050D; */
  }
}